html, body {
    margin:     0;
    padding:    0;
    height:     100%;
}

body {
    background-image: url('../images/back.png');
    background-attachment: fixed;
    background-size: cover;
    font-family:    'Helvetica Neue', Helvetica, sans-serif;
}

.page-container, h1 {
    font-weight:    100;
    height:         100%;
    text-shadow:    1px 1px 1px rgba(0,0,0,0.005);
    -webkit-font-smoothing: antialiased !important;
}

.splash {
    color:      #FFFFFF;
    padding:    35px 0;
    text-align: center;
    height:     100%;
    z-index: 5;
    position: relative;
}

.title {
    color: #FF9;
    font-size:  89px;
    margin-top: 60px;
}

.subtitle {
    border-top:     1px solid rgba(255, 255, 135, 0.6);
    color:          rgba(255, 255, 255, 1);
    font-size:      18px;
    font-weight:    300;
    margin:         5px auto;
    padding:        20px 0 0 0;
    width:          400px;
}

.menu {
    display:        -webkit-flex;
    display:        flex;
    font-weight:    200;
    font-size:      20px;
    padding:        40px 0;
    width:          400px;
    margin:         0 auto;
    -webkit-justify-content: space-around;
            justify-content: space-around;
}

.menu a {
    border-radius:      8px;
    color:              #FFFFFF;
    padding:            10px;
    text-decoration:    none;
}

.menu a:hover {
    color:      #FFFFFF;
    background: rgba(0,3,30,0.5);
}

.superquote {
    background:     rgba(0,3,30,0.5);
    border-radius:  8px;
    font-size:      23px;
    font-weight:    200;
    padding:        32px 28px;
    margin:         42px auto;
    width:          330px;
}

.body {
    padding:    24px 0;
    height:     100%;
}

.section {
    min-height: 100%;
    text-align: center;
    padding-top: 34px;
}

.group {
    padding:    0px 0 34px 0;
}

.apps {
    background: rgb(40,40,40);
    box-shadow: 0px 0px 10px #000000;
    color:      #FFFFFF;
}

.app {
    margin:     auto;
    padding:    34px 0 24px 0;
    width:      500px;
}

.appname {
    font-size:      36px;
    font-weight:    200;
}

.app .normal {
    font-weight:    200;
    font-size:      22px;
    padding:        24px 0 0 0;
}

.app .normal.description {
    color:  #CCCCCC;
}

.app .normal a {
    color:              #FFFFFF;
    padding:            5px 0 5px 0;
    text-decoration:    none;
}

.app .normal a:hover {
    text-decoration:    underline;
}

.contact {
    color:      #FFFFFF;
    font-size:  30px;
}

.contact .description {
    font-size:  28px;
    margin:     5% auto;
    padding:    0px 0 0 0;
    max-width:      670px;
}

.contact .description a {
    color:              #FFFFFF;
    font-weight:        200;
    text-decoration:    none;
}

.contact .description a:hover {
    text-decoration: underline;
}

.anchor {
    font-size: 48px;
}

.navigation {
    text-align: center;
    padding:    0 0 3px 8px;
    position:   fixed;
    bottom:     0;
    left:       0;
}

.navigation a {
    color:              #FFFF99;
    font-size:          18px;
    font-weight:        200;
    text-decoration:    none;
}

.navigation a:hover {
    text-decoration: underline;
}
